# Ignore node_modules
node_modules/

# Ignore log files and system files
*.log
.DS_Store

# Ignore environment files
.env

# Ignore build and distribution directories
dist/
build/

# Ignore IDE and editor files
.idea/
.vscode/
*.swp
